workflows/workflow-api-health-check.json
{
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.example.com/health",
        "responseFormat": "json"
      },
      "name": "Check API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.status === 'ok'}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Healthy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "alerts@example.com",
        "toEmail": "admin@example.com",
        "subject": "API Health Check Failed",
        "text": "The health check returned an unexpected response: {{$json}}"
      },
      "name": "Send Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1100,
        420
      ]
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Check API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API": {
      "main": [
        [
          {
            "node": "Is Healthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Healthy": {
      "main": [
        [],
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
